*.log
npm-debug.log*
node_modules/
.coverage
dist/
.DS_Store
.env
.env.*

.nx/
packages/**/logs/
*.iml
!.idea/runConfigurations
.flattened-pom.xml
Checkmarx/
*.jar
*.war
*.ear
*.tar.gz
REPORT.md

.vscode/settings.json

# TypeScript incremental build cache
tsconfig.tsbuildinfo
